
.about-holder{
	text-align: center;
	margin: 40px auto 0 auto;
	width: 800px;
	padding:10px 40px 20px 40px;
	height:auto;
	overflow: auto;
	border: 1px solid #aaa;
	background-color: #eee;
}

.about-top-pic{
	margin:auto;
	width:800px;
	
}

.about-top-pic img{
	width:794px;
	margin:auto;
	border:2px solid #226;
	border-radius:16px;
}


.about-form{
	background-color: #eee;
	border: 1px solid #aaa;
	text-align: center;
	width: 880px;
	margin:20px auto;
	padding:10px 0;
}

.about-form textarea{
	margin: 5px;
	max-width: 700px;
	min-width: 700px;
	min-height: 150px;
	overflow: hidden;
}

.about-form #title{
	margin: 5px;
}

.file-transfere{
	border: 1px solid #ccc;
	padding: 5px;
	width:250px;
	margin: 0 auto;
}

.file-transfere #file{
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 250px;
}

.about-submit{
	float:right;
	margin-top: -54px;
}