
.about-holder{
	text-align: center;
	margin: 40px auto 0 auto;
	width: 800px;
	padding:10px 40px 20px 40px;
	height:auto;
	overflow: auto;
	border: 1px solid #aaa;
	background-color: #eee;
}

.about-top-pic{
	margin:auto;
	width:800px;
	
}

.about-top-pic img{
	width:794px;
	margin:auto;
	border:2px solid #226;
	border-radius:16px;
}