.nav-main .logo > a{
	color:#fff;
}

.nav-main{
	background-color:#222;
	color:#fff;
}

.nav-item{
	color: #fff;
}

.nav-item:hover{
	background-color: #444;
}

.nav-item:focus{
	background-color: #444;
}

.nav-content {
	background-color: #222;
	color: #fff;
}

.nav-content a {
	color:#fff;
}

.foot-bar{
	background-color:#222;
	color:#fff;
}