body, html{
	margin:0;
	height: 100%;
}

.content{
	padding:30px;
}


.nav-main .logo{
	float:left;
	height:40px;
	padding:15px 30px;
	font-size: 1.4em;
	line-height:40px;
}
.nav-main .logo > a{
	text-decoration: none;
}


.nav-main{
	opacity: 0.95;  
	-webkit-box-shadow:  0px 0px 10px #000;
    box-shadow:  0px 0px 10px #000;
    z-index:20;
    position: fixed;
	width:100%;
	/*background-color:#222;*/
	height:70px;
	/*color:#fff;*/
}

.nav-main > ul{
	margin:0;
	padding:0;
	float:left;
	list-style-type: none;
}

.nav-main > ul > li {
	float: left;
}

.nav-item{
	display: inline-block;
	padding:15px 20px;
	height:40px;
	line-height: 40px;
	margin:0;
	/*color: #fff;*/
	text-decoration: none;
}

.nav-item:hover{
	/*background-color: #444;*/
}

.nav-item:focus{
	/*background-color: #444;*/
}

.nav-item:focus ~ .nav-content{
	max-height: 400px;
	-webkit-transition:max-height 0.4s ease-in;
	-moz-transition:max-height 0.4s ease-in;
	transition:max-height 0.4s ease-in;
}

.nav-option{
	display:none;
}

.nav-content {
	position: absolute;
	top:70px;
	overflow:hidden;
	/*/*background-color: #222;*/
	/*color: #fff;*/
	z-index: 2;
	max-height: 0;

}

.nav-content a {
	/*color:#fff;*/
	text-decoration: none;
}

.nav-content:hover {
	max-height:400px;
}

.nav-content a:hover {
	text-decoration: underline;
}

.nav-sub {
	padding:20px;
}

.nav-sub ul{
	padding:0;
	margin: 0;
	list-style-type: none;
}

.nav-sub ul li a {
	display: inline-block;
	padding: 5px 0;
}

.nav-main .login_button{
	margin-right:80px;
	float:right;
}

.warning_text{
	color:red;
}

.body-background{
	position: relative;
	z-index:0;
	width: 100%;
	margin: auto;
	min-height: 100vh;
	background-image: url("/img/background.png");
	background-repeat: repeat;
}

.body-content{

	position: relative;
	z-index:1;
	width: 95%;
	margin:auto;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color:#ddd;
	-webkit-box-shadow: 2px 0px 10px #000, -2px 0px 10px #000;
    box-shadow: 2px 0px 10px #000, -2px 0px 10px #000;

}

.body-center-container{
	text-align: center;
}

.foot-bar{
	float:bottom;
	position: relative;
	width:100%;
	margin-top:-35px;
	height:35px;
	-webkit-box-shadow: 0px -10px 10px -10px #000;
    box-shadow: 0px -10px 10px -10px #000;
}

.title-bar{
	width:80%;
	background-color:#999;
	margin-top:8px;
	margin-left:10%;
	margin-right:10%;
	position: relative;
	border: 0px solid #222;
	border-radius: 2px;
	font-size: 20px;
	text-align: center;
	-webkit-box-shadow: 1px 0px 2px #444, -1px 0px 2px #444, 0px 1px 2px #444, 0px -1px 2px #444;
    box-shadow: 1px 0px 2px #444, -1px 0px 2px #444, 0px 1px 2px #444, 0px -1px 2px #444;

}

.holder-bar{
	display:inline-block;
	background-color:#ccc;
	position: relative;
	float:middle;
	margin-top: 20px;
	padding:5px;
	border-radius: 2px;
	
	-webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
}

.form-select{
	position: relative;
	width: 240px;
   	height: 34px;
   	overflow: hidden;
   	
   	border: 3px solid #aaa;
   	-webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:12px;
    -webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;



}

.form-select select {
	background: url("/img/down_arrow.png") no-repeat right #ddd;
	width: 240px;
	padding: 5px;
	font-size: 16px;
   	line-height: 1;
  	border: 1px;
  	border-radius: 0px;
  	height: 34px;
   	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    text-indent:5px;

}

.form-select select:focus {
	background: url("/img/down_arrow.png") no-repeat right #d0d3d0;
}

.form-select input, textarea, select, a { outline: none; }
.form-field input, textarea, select, a { outline: none; }


.form-field{
	position: relative;
	width: 240px;
   	height: 34px;   	   	
   	border: 3px solid #aaa;
   	-webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:12px;
    -webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;
}

.form-field input{
	text-indent:10px;
	background:#ddd;
	width: 240px;
	padding: 0px;
	font-size: 16px;
   	line-height: 1;
   	border:0px;
  	border-radius: 8px;
  	height: 34px;
   	
}

.form-field :focus{
	background:#d0d3d0;
}

.form-button{
	background-color: #bbb;
	width:110px;
	height: 24px;
	border: 2px solid #888;
	-webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    outline: none;
}

.anchor-button{
	background-color: #bbb;
	color:#222;
	text-decoration: none;
	width:110px;
	height: 24px;
	border: 2px solid #888;
	-webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    outline: none;
    padding: 3px;
}

.anchor-button:hover{
	background-color: #ddd;
	border: 2px solid #999;
	color:#020;
	cursor:pointer;
}

.form-button:hover{
	background-color: #ddd;
	border: 2px solid #999;
	color:#020;
	cursor:pointer;
}

.form-button:active{
	background-color: #666;
	border: 2px solid #333;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.form-fieldset{
	max-width: 250px;
}

.pure-text{
	text-align: center;
}

.pure-text p{
	margin: 10px 10% 10px 10%;
}

.video-browser{
	position: relative;
	background-color:inherit;
	display: inline-block;
	padding: 3%;
	width: 94%;
	text-align: center;	

}

.search-menu{
	position: relative;
	float: left;
	margin: auto;
	margin:0 1% 0 0%;
	max-width:24%;
	height:600px;
	background-color:#888;
	padding:5px;
	-webkit-box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
}

.-head{
	-webkit-border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
	border-radius: 30px 30px 0 0;
	height:60px;
	width:80%;
	margin: 20px auto 5px auto;
	background-color:#bbb;
	-webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;	
}

.result-box{
	position: relative;
	float: left;
	margin:auto;
	margin:0 0% 0 1%;
	min-width:74%;
	min-height: 600px;
	background-color: #777;
	padding:5px;
	-webkit-box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
}

.result-head{
	-webkit-border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
	border-radius: 30px 30px 0 0;
	height:60px;
	width:80%;
	margin: 20px auto 5px auto;
	background-color:#bbb;
	-webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;	
}

.result-video{	
	width:80%;
	height:120px;
	margin: 5px auto 5px auto;
	background-color:#ccc;
	-webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
}

.result-video a{
	font-size: 25px;
	text-decoration: none;
	color: #222;
}

.search-field input, textarea, select, a { outline: none; }


.search-field{
	position: relative;
	width: 100%;
   	height: 34px;   	   	
   	border: 3px solid #aaa;
   	-webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:12px;
    -webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;
}

.search-field input{
	text-indent:10px;
	background:#ddd;
	width: 100%;
	padding: 0px;
	font-size: 16px;
   	line-height: 1;
   	border:0px;
  	border-radius: 8px;
  	height: 34px;
   	
}

.search-field :focus{
	background:#d0d3d0;
}

 
video, iframe {
    border-radius: 5px;
    border: 5px solid #eee;
    -webkit-background-clip: content;
}