
.result-box{
	position: relative;
	float: left;
	margin:auto;
	margin:0 0% 0 1%;
	min-width:74%;
	min-height: 600px;
	/*background-color: #777;*/
	padding:5px;
	-webkit-box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
}

.result-head{
	-webkit-border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
	border-radius: 30px 30px 0 0;
	height:60px;
	width:80%;
	margin: 20px auto 5px auto;
	/*background-color:#bbb;*/
	-webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;	
}

.result-video{	
	width:80%;
	height:120px;
	margin: 5px auto 5px auto;
	/*background-color:#ccc;*/
	-webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
}

.result-video a{
	font-size: 25px;
	text-decoration: none;
	/*color: #222;*/
}

.search-field input, textarea, select, a { outline: none; }


.search-field{
	position: relative;
	width: 100%;
   	height: 34px;   	   	
   	border: 3px solid #aaa;
   	-webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:12px;
    -webkit-box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;
    box-shadow: 1px 0px 2px #666, -1px 0px 2px #666, 0px 4px 8px #666, 0px -1px 2px #666;
}

.search-field input{
	text-indent:10px;
	/*background:#ddd;*/
	width: 100%;
	padding: 0px;
	font-size: 16px;
   	line-height: 1;
   	border:0px;
  	border-radius: 8px;
  	height: 34px;
   	
}

.search-field :focus{
	/*background:#d0d3d0;*/
}

 
video, iframe {
    border-radius: 5px;
    border: 5px solid #eee;
    -webkit-background-clip: content;
}


.video-browser{
	position: relative;
	background-color:inherit;
	display: inline-block;
	padding: 3%;
	width: 94%;
	text-align: center;	

}

.search-menu{
	position: relative;
	float: left;
	margin: auto;
	margin:0 1% 0 0%;
	max-width:24%;
	height:600px;
	/*background-color:#888;*/
	padding:5px;
	-webkit-box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
    box-shadow: inset 1px 0px 2px #666, -1px 0px 2px #666, 0px 1px 2px #666, 0px -1px 2px #666;
}
